<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aventuras</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="formulario.html">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <main class="container">
        <header class="text-center my-4">
            <h1> World Games </h1>
            <img src="Aventuras.jpg" alt="Juegos de aventuras" class="img-fluid">
            <p> Aqui encontrarás variados juegos de aventuras.</p>
        </header>

        <section>
        <h2 class="text-center my-8">Juegos de aventuras</h2>
            <ul class="row list-unstyled">
                <li class="col-sm-6 col-md-4 mb-4" >
                    <img src="mario-bross.jpg" alt="Mario bros" class="img-fluid">
                    <p class="d-block text-center mt-2">Mario Bros</p>
                    <p class="d-block text-center mt-2">Precio: $99.990 CLP</p>
                </li>
                <li class="col-sm-6 col-md-4 mb-4" >
                    <img src="zelda.jpg" alt="The legend of Zelda" class="img-fluid">
                    <p class="d-block text-center mt-2">The legend of Zelda</p>
                    <p class="d-block text-center mt-2">Precio: $49.990 CLP</p>
                </li>
                
            </ul>
        </section> 

        <div class="estilo-div mt-4">
            <a href="index.html" class="btn btn-primary">Volver</a>
        </div>
    </main>
</body>
</html>