{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block title %}Aventuras{% endblock %}

{% block content %}
    <main class="container">

        <section>
            <h2 class="text-center my-8">Juegos de aventuras</h2>
            <ul class="row list-unstyled">
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/mario-bross.jpg' %}" alt="Mario Bros" class="img-fluid">
                    <p class="d-block text-center mt-2">Mario Bros</p>
                    <p class="d-block text-center mt-2">Precio: $99.990 CLP</p>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/zelda.jpg' %}" alt="The Legend of Zelda" class="img-fluid">
                    <p class="d-block text-center mt-2">The Legend of Zelda</p>
                    <p class="d-block text-center mt-2">Precio: $49.990 CLP</p>
                </li>
            </ul>
        </section>

        <div class="mt-4 text-center">
            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
        </div>
    </main>
{% endblock %}