{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block title %}Deportes{% endblock %}

{% block content %}
    <main class="container">
        
        <section>
            <h2 class="text-center my-8">Juegos de deportes</h2>
            <ul class="row list-unstyled">
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/fifa23.jpg' %}" alt="Fifa 2023" class="img-fluid">
                    <p class="d-block text-center mt-2">Fifa 2023</p>
                    <p class="d-block text-center mt-2">Precio: $49.990 CLP</p>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/ufc.jpg' %}" alt="UFC" class="img-fluid">
                    <p class="d-block text-center mt-2">UFC</p>
                    <p class="d-block text-center mt-2">Precio: $49.990 CLP</p>
                </li>
            </ul>
        </section>

        <div class="mt-4 text-center">
            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
        </div>
    </main>
{% endblock %}