{% extends 'juegos/base_generic.html' %}

{% block title %}Eliminar Juego{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1>Eliminar Juego</h1>
        <p>¿Estás seguro que deseas eliminar el juego "{{ juego.nombre }}"?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>

        <a href="{% url 'listar_juegos' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
    </div>
{% endblock %}