
{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block title %}Registro de Usuario{% endblock %}

{% block content %}
    <main class="container">

        <div class="container mt-5">
            <h2 class="mb-4 text-center">Registro de Usuario</h2>
            <form method="POST" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <div class="mb-3">
                    {{ form.nombre_usuario.label_tag }}
                    {{ form.nombre_usuario }}
                    {% if form.nombre_usuario.errors %}
                    <div class="text-danger">
                        {{ form.nombre_usuario.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                    {% if form.nombre.errors %}
                    <div class="text-danger">
                        {{ form.nombre.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.apellido.label_tag }}
                    {{ form.apellido }}
                    {% if form.apellido.errors %}
                    <div class="text-danger">
                        {{ form.apellido.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                    <div class="text-danger">
                        {{ form.password.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                    <div class="text-danger">
                        {{ form.confirm_password.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.edad.label_tag }}
                    {{ form.edad }}
                    {% if form.edad.errors %}
                    <div class="text-danger">
                        {{ form.edad.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion }}
                    {% if form.direccion.errors %}
                    <div class="text-danger">
                        {{ form.direccion.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.ciudad.label_tag }}
                    {{ form.ciudad }}
                    {% if form.ciudad.errors %}
                    <div class="text-danger">
                        {{ form.ciudad.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}