{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Games</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> <!--para que nuestra pagina trabaje de manera responsiva, se copio y pego de bootstrap-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'formulario' %}">Registrarse</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="formulario.html">Inicio Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
            <header class="text-center my-4">
                <h1> World Games </h1>
                <img src="{% static 'img/portada.jpg' %}" alt="Logo de la pagina" class="img-fluid"> 
                <p> En esta página encontrarás juegos disponibles a un muy buen precio para ti.</p>
            </header>
        
            <h1 class="text-center"> Bienvenido a nuestra página con muchos juegos disponibles</h1>
            <section>
            <h2 class="text-center my-8">Categorias</h2>
                <ul class="row list-unstyled">
                    <li class="col-sm-6 col-md-4 mb-4">
                        <img src="{% static 'img/Terror.jpg' %}" alt="Logo juegos terror" class="img-fluid">
                        <a href="{% url 'terror' %}" class="d-block text-center mt-2">Terror</a>
                    </li>
                    <li class="col-sm-6 col-md-4 mb-4">
                        <img src="{% static 'img/Deportes.jpg' %}" alt="Logo juegos deportes" class="img-fluid">
                        <a href="{% url 'deportes' %}" class="d-block text-center mt-2">Deportes</a>
                    </li>
                    <li class="col-sm-6 col-md-4 mb-4"> 
                        <img src="{% static 'img/Shooter.jpg' %}" alt="Logo juegos shooter" class="img-fluid">
                        <a href="{% url 'shooter' %}" class="d-block text-center mt-2">Shooter</a>
                    </li>
                    <li class="col-sm-6 col-md-4 mb-4">
                        <img src="{% static 'img/RPG.jpg' %}" alt="Logo juegos RPG" class="img-fluid">
                        <a href="{% url 'rpg' %}" class="d-block text-center mt-2">RPG</a>
                    </li>
                    <li class="col-sm-6 col-md-4 mb-4">
                        <img src="{% static 'img/Aventuras.jpg' %}" alt="Logo juegos aventuras" class="img-fluid">
                        <a href="{% url 'aventuras' %}" class="d-block text-center mt-2">Aventuras</a>
                    </li>
                </ul>
            </section> 


    </main>

    <footer class="text-center my-4">
        <p > @2024 World Games. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>