{% extends 'juegos/base_generic.html' %}
{% load static %}

{% block title %}World Games{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="text-center">Bienvenido a nuestra página con muchos juegos disponibles</h1>
        
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <div class="text-center my-4">
                    <a href="{% url 'listar_categorias' %}" class="btn btn-secondary">Listar Categorías</a>
                </div>
            {% endif %}
            <div class="text-center my-4">
                <a href="{% url 'listar_juegos' %}" class="btn btn-primary">Listar Juegos</a>
            </div>
        {% endif %}
        
        {% if request.user.is_superuser %}
            <div class="text-center my-4">
                <p>Eres un superusuario. Tienes acceso a funcionalidades avanzadas.</p>
            </div>
        {% else %}
            <div class="text-center my-4">
                <p>Eres un usuario normal. Disfruta de la aplicación.</p>
            </div>
        {% endif %}
        
        <section>
            <h2 class="text-center my-4">Categorías</h2>
            <ul class="row list-unstyled">
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/Terror.jpg' %}" alt="Logo juegos terror" class="img-fluid">
                    <a href="{% url 'terror' %}" class="d-block text-center mt-2">Terror</a>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/Deportes.jpg' %}" alt="Logo juegos deportes" class="img-fluid">
                    <a href="{% url 'deportes' %}" class="d-block text-center mt-2">Deportes</a>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/Shooter.jpg' %}" alt="Logo juegos shooter" class="img-fluid">
                    <a href="{% url 'shooter' %}" class="d-block text-center mt-2">Shooter</a>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/RPG.jpg' %}" alt="Logo juegos RPG" class="img-fluid">
                    <a href="{% url 'rpg' %}" class="d-block text-center mt-2">RPG</a>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/Aventuras.jpg' %}" alt="Logo juegos aventuras" class="img-fluid">
                    <a href="{% url 'aventuras' %}" class="d-block text-center mt-2">Aventuras</a>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer class="text-center my-4">
        <p>&copy; 2024 World Games. Todos los derechos reservados.</p>
    </footer>
{% endblock %}