{% extends 'juegos/base_generic.html' %}

{% block title %}Lista de Juegos{% endblock %}

{% block content %}
    <h1>Lista de Juegos</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for juego in juegos %}
            <tr>
                <td>{{ juego.nombre }}</td>
                <td>{{ juego.descripcion }}</td>
                <td>{{ juego.precio }}</td>
                <td>{{ juego.categoria.nombre }}</td>
                <td>
                    <a href="{% url 'ver_juego' juego.pk %}">Ver</a>
                    {% if user.is_staff %}
                    | <a href="{% url 'editar_juego' juego.pk %}">Editar</a>
                    | <a href="{% url 'eliminar_juego' juego.pk %}">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if user.is_staff %}
    <a href="{% url 'crear_juego' %}" class="btn btn-success">Agregar nuevo juego</a>
    {% endif %}
{% endblock %}
