{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block title %}RPG{% endblock %}

{% block content %}
    <main class="container">

        <section>
            <h2 class="text-center my-8">Juegos de RPG</h2>
            <ul class="row list-unstyled">
                {% for juego in juegos %}
                    <li class="col-sm-6 col-md-4 mb-4">
                        <img src="{% static 'img/'|add:juego.nombre|add:'.jpg' %}" alt="{{ juego.nombre }}" class="img-fluid">
                        <p class="d-block text-center mt-2">{{ juego.nombre }}</p>
                        <p class="d-block text-center mt-2">Precio: ${{ juego.precio }} CLP</p>
                        <!-- Botón para añadir al carrito -->
                        <div class="text-center">
                            <a href="{% url 'agregar_al_carrito' juego.id %}" class="btn btn-success">Añadir al Carrito</a>
                        </div>
                    </li>
                {% empty %}
                    <p class="text-center">No hay juegos disponibles en la categoría de RPG</p>
                {% endfor %}
            </ul>
        </section>

        <div class="mt-4 text-center">
            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
        </div>
    </main>
{% endblock %}