{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block title %}Shooter{% endblock %}

{% block content %}
    <main class="container">

        <section>
            <h2 class="text-center my-8">Juegos shooter</h2>
            <ul class="row list-unstyled">
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/call-of-dutyy.jpg' %}" alt="Call of Duty" class="img-fluid">
                    <p class="d-block text-center mt-2">Call of Duty</p>
                    <p class="d-block text-center mt-2">Precio: $59.990 CLP</p>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/halo.jpg' %}" alt="Halo" class="img-fluid">
                    <p class="d-block text-center mt-2">Halo</p>
                    <p class="d-block text-center mt-2">Precio: $39.990 CLP</p>
                </li>
            </ul>
        </section>

        <div class="mt-4 text-center">
            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
        </div>
    </main>
{% endblock %}