
{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block title %}Terror{% endblock %}

{% block content %}
    <main class="container">

        <section>
            <h2 class="text-center my-8">Juegos de terror</h2>
            <ul class="row list-unstyled">
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/Outlast.jpg' %}" alt="Outlast" class="img-fluid">
                    <p class="d-block text-center mt-2">Outlast</p>
                    <p class="d-block text-center mt-2">Precio: $39.990 CLP</p>
                </li>
                <li class="col-sm-6 col-md-4 mb-4">
                    <img src="{% static 'img/dead-space.jpg' %}" alt="Dead Space" class="img-fluid">
                    <p class="d-block text-center mt-2">Dead Space</p>
                    <p class="d-block text-center mt-2">Precio: $49.990 CLP</p>
                </li>
            </ul>
        </section>

        <div class="mt-4 text-center">
            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
        </div>
    </main>
{% endblock %}